<!-- <launch>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find bring_up)/conf/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find bring_up)/conf/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find bring_up)/conf/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find bring_up)/conf/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find bring_up)/conf/base_local_planner_params.yaml" command="load" />
		<param name="base_global_planner" type="string" value="NavfnROS" />
		<param name="conservative_reset_dist" type="double" value="3.0" />
		<param name="controller_frequency" type="double" value="15.0" />
	</node>
</launch>
-->

<launch>
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find p2os_launch)/config/move_base/move_base.yaml" command="load"/>
		<rosparam file="$(find p2os_launch)/config/move_base/costmap_common.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find p2os_launch)/config/move_base/costmap_common.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find p2os_launch)/config/move_base/costmap_global.yaml" command="load"  />
		<rosparam file="$(find p2os_launch)/config/move_base/costmap_local.yaml" command="load"/>

		<remap from="/cmd_vel" to="/move_base/cmd_vel" />
	</node>

</launch>
