<?xml version="1.0"?>
<launch>

<arg name="pose_x" default="0"/>
<arg name="pose_y" default="1"/>
<arg name="pose_yaw" default="0"/>

    <param name="robot_description" command="$(find xacro)/xacro.py $(find bring_up)/defs/pioneer3at.xacro" />

    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="15.0" />
    </node>

    <node pkg="bring_up" type="p2os_publisher_3at" name="publisher"/>

   <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -param robot_description -model SOSvr -x $(arg pose_x) -y $(arg pose_y) -z 0.051 -Y $(arg pose_yaw)"/>

<!--  <include file="$(find p2os_launch)/launch/gmapping.launch">-->
<!--    <arg name="ns" value="$(arg robot_name)"/>-->
<!--  </include>-->

<!--  <include file="$(find p2os_launch)/launch/navigation.launch">-->
<!--    <arg name="ns" value="$(arg robot_name)"/>-->
<!--  </include>-->



<!--<node name="spawn_pioneer" pkg="gazebo_ros" type="spawn_model"-->
<!--    args="-file $(find p2os_urdf)/models/my_pioneer3at/model.sdf -sdf -z 0.051 -model p2os_1" respawn="false" output="screen" />-->

</launch>
